body {
  margin: 0;
}
* {
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1em;
}

main {
  background: rgb(1, 1, 82);
  position: fixed;
  top: 2%;
  left: 50%;
  width: 450px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transform: translate(-50%, 0);
  padding: 3%;
  box-shadow:3px 3px 6px rgb(95, 93, 93);
}

#screen {
  width: 100%;
  height: 20%;
  background: rgb(236, 236, 236);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0% auto;
  font-size: 2.1em;
  text-align: right;
  padding: 0 8px;
  box-shadow: inset 3px 3px 2px rgb(95, 93, 93);
}

.wrapper {
  width: 100%;
  height: 90%;
  margin: 3% 0;
}
.row {
  display: flex;
  height: 17%;
  justify-content: space-between;
}


.btn {
  width: 23%;
  background: rgb(236, 236, 236);
  /* 96px;; */
  /* height: 20%; */
  margin: 1% 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 37px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:active {
  background: rgb(173, 171, 171);
}

#equal {
  color: white;
  width: 48.5%;
  background: rgba(14, 18, 218, 0.911);
  border-color: rgba(15, 18, 201, 0.911);
}

#equal:active {
  background: rgba(13, 16, 185, 0.911)
}

#ac,#del, .operator {
  color: white;
  background: rgba(20, 114, 238, 0.952);
  border-color: rgba(14, 97, 206, 0.952);
}

#ac:active,#del:active, .operator:active {
  background: rgba(13, 90, 192, 0.952);
}

#space {
  visibility:hidden;
}