/*@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }
.magic-radio[disabled] + label {
  cursor: not-allowed;
  color: #611919; }

  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after{
    cursor: not-allowed; 
  } 
  .magic-radio[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before {
    border-color: #517e2c; }

.magic-radio:checked + label:before {
  animation-name: none; }

.magic-radio[disabled] {
  cursor: not-allowed; 
}
.magic-radio + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
}*/ 
/* http://www.webhek.com/post/css-beautifiy-radio-checkbox.html */

body {
  margin: 0;
  background: rgba(230, 221, 141, 0.167);
  /* padding-bottom: 3em; */
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 200;
}

h2 {
  font-weight: normal;
  margin-top: 0;
}
.magic-radio {
  position: absolute;
  vertical-align:middle;
  display: none;
}

.magic-radio + label {
  position: relative;
  display: block;
  padding-left: 30px;
}

.magic-radio + label:before {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 16px;
  height: 16px;
  content: '';
  border-radius: 50%; 
  border: 1px solid #c0c0c0;
  transform: translate(0, -50%);
}

.magic-radio:checked + label:after {
  display: block;
}

.magic-radio + label:after {
  position: absolute;
  display: none;
  content: '';
  top: 50%;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: rgb(186, 71, 8);
  transform: translate(-50%, -50%);
}

.magic-radio:checked + label:before {
  border: 1px solid rgb(186, 71, 8); }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }


#top_bg {
  background: black;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  /* background: url(./P2263644.jpg) center no-repeat; */
  background-size: contain;
  /* background-size: ; */
  background-position: center;
  height: 278px;
}

.img1 {
  /* width: 100%; */
  background: url(./P2263644_new.png); 
  /* background-repeat: repeat-x; */
  /* margin-left: 5%; */
  background-repeat: no-repeat; 
  background-size: contain;
  width:333px;
  height: 250px;
  /* margin: 0 auto; */
}
.img2 {
  /* width: 100%; */
  background: url(./P2263644_new_reverse.png); 
  /* right: 5%; */
  /* background-repeat: repeat-x; */
  background-size: contain;
  background-repeat: no-repeat; 
  width:333px;
  height: 250px;
  /* margin: 0 auto; */
}
h1 ~ p {
  font-size: 13px;
}

.need {
  color: red;
  margin: 2em 0;
}


h2:not(.no_describe) {
  margin-bottom: 0px;
}

.wrapper {
  position: absolute;
  top: 220px;
  left:50%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 5em;
  box-shadow:0px 3px 6px rgb(95, 93, 93);
  transform: translate(-50%, 0);
}

main {
  background: white;
  padding:  0.5em 5%;
  /* border-radius: 1px; */
  border-top: 0.5em solid rgb(245, 227, 127);
}

.notation, .select__notation {
  display: none;
  color: red;
  margin-bottom: 0;
}

.keyin{
  background:none;
  /* margin-bottom: 1px; */
  box-sizing: content-box;
  /* padding: 0; */
  /* background: #fce8e6; */
  /* color: blue; */
  width: 50%;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  transition: border 0.3s;
}

.keyin:focus-within {
  margin-bottom: 0px;
  border-bottom:  2px solid #d97625;
}

.long_answer {
  width:100%;
}

section:not(.other) > h2::after {
  content:' *';
  color: red;
}

section {
  padding: 1em;
  margin-bottom: 2px;
  /* background: #fce8e6; */
}

#submit {
  margin-top: 4em;
  width: 6em;
  height: 2.5em;
  border-width: 2px;
  border-style: none;
  border-radius: 3px;
  background: rgb(68, 133, 218);
  color: white;
}

h2 + p {
  margin-top: 0;
  font-size:0.85em;
}

#no_secret {
color: rgba(0,0,0,0.54);
font-weight: 400;
font-size: 0.8em;
}

@media (max-width:769px) {
  .wrapper {
    max-width: 90%;
    top: 150px;
    left: 5%;
    transform: translate(0 , 0);
  }
  #top_bg {
    padding: 0 0%;
    height: 200px;
    /* justify-content: center; */
  }
  .img1 {
    height: 80%;
    width: 213px;
    /* max-width: 0%; */
  }
  .img2 {
    height: 80%;
    width: 213px;
    /* display: none; */
  }
}

@media (max-width:426px) {
  .keyin {
    width: 80%;
  }
}